
{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Kontakti</title>
        <link rel="icon" href="{% static 'assets/funksionon 1/img/Xhami_logo.png' %}" type="image/png">


        <meta name="description" content="Xhamia Qendore Fushe Kosove , me Imam Jasir Krasniqi eshte ...">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://xhamiaqendrore.pythonanywhere.com/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Kontakti">
        <meta property="og:description" content="Kontakto ekipin tone per pytje qe keni">
        <meta property="og:image" content="{% static 'assets/funksionon 1/img/Xhami_logo.png' %}">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="xhamiaqendrore.pythonanywhere.com">
        <meta property="twitter:url" content="https://xhamiaqendrore.pythonanywhere.com/">
        <meta name="twitter:title" content="Kontakti">
        <meta name="twitter:description" content="Kontakto ekipin tone per pytje qe keni">
        <meta name="twitter:image" content="{% static 'assets/funksionon 1/img/Xhami_logo.png' %}">


        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">


        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Pacifico&display=swap" rel="stylesheet">

        <!-- Icon Font Stylesheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

        <!-- Libraries Stylesheet -->
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

        <!-- Customized Bootstrap Stylesheet -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/fireworks.css' %}" rel="stylesheet">

        

    </head>

    <body>

        <!-- Spinner Start -->
        <div id="spinner" class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
            <div class="spinner-grow text-primary" role="status"></div>
        </div>
        <!-- Spinner End -->


        <!-- Topbar start -->
        <div class="container-fluid fixed-top">
            <div class="container topbar d-none d-lg-block">
                <div class="topbar-inner">
                    <div class="row gx-0">
                        <div class="col-lg-7 text-start">

                            <div class="h-100 d-inline-flex align-items-center">
                                <!-- <span class="far fa-envelope me-2 text-dark"></span> -->
                                <!-- <a href="#" class="text-secondary"><span>amarkrasniqi2019@gmail.com</span></a> -->
                            </div>
                        </div>
                        <div class="col-lg-5 text-end">
                            <div class="h-100 d-inline-flex align-items-center">
                                <span class="text-body">Follow ne:</span>
                                <a class="text-dark px-2" href="https://www.facebook.com/Xhamia.Fushe.Kosove"><i class="fab fa-facebook-f"></i></a>
                                <a class="text-dark px-2" href="https://www.youtube.com/@jasirkrasniqi8366"><i class="fab fa-youtube"></i></a>
                                <a class="text-dark px-2" href="https://www.instagram.com/jasirkrasniqi/"><i class="fab fa-instagram"></i></a>
                                <!-- <a class="text-body ps-4" href=""><i class="fa fa-lock text-dark me-1"></i> Signup/login</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <nav class="navbar navbar-light navbar-expand-lg py-3">
                    <a href="index.html" class="navbar-brand">
                        <h1 class="mb-0">Xhamia<span class="text-primary"> Qendrore</span> </h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="fa fa-bars text-primary"></span>
                    </button>
                    <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                        <div class="navbar-nav ms-lg-auto mx-xl-auto">
                            <a href="index.html" class="nav-item nav-link active">Faqja</a>
                            <a href="about.html" class="nav-item nav-link">Rreth ne</a>
                            <a href="activity.html" class="nav-item nav-link">Aktivitetet</a>
                            <a href="event.html" class="nav-item nav-link">Eventet</a>
                            <div class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Nderfaqet</a>
                                <div class="dropdown-menu m-0 rounded-0">
                                    <a href="blog.html" class="dropdown-item">Se Shpejti </a>
                                    <a href="team.html" class="dropdown-item">Se Shpejti </a>
                                    <a href="testimonial.html" class="dropdown-item">Se Shpejti </a>
                                    <a href="404.html" class="dropdown-item">Se Shpejti </a>
                                </div>
                            </div>
                            <a href="{% url 'kontakti' %}" class="nav-item nav-link">Kontakti</a>
                        </div>
                        <a href="" class="btn btn-primary py-2 px-4 d-none d-xl-inline-block">Lexo</a>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Topbar End -->



        <!-- Contact Start -->
        <div class="container-fluid contact py-5">
            <div class="container py-5">
                <div class="text-center mx-auto mb-5 wow fadeIn" data-wow-delay="0.1s" style="max-width: 700px;">
                   <br><br>
                    <h1 class="display-3">Kontakti Per Pytje</h1>
                    <p class="mb-0">Kjo Menyre e Pytjes eshte e automatizuar dhe do te merrni nje pergjigjeje ne kohe ! </p>
                </div>
                {% for message in messages %}
                    <div class="alert alert-success text-center">{{message}}</div>
                {% endfor %}
                <div class="row g-4 wow fadeIn" data-wow-delay="0.3s">
                    <form method="post" action="{% url 'kontakti' %}">
                        {% csrf_token %}

                    <div class="col-sm-6">
                        <input type="text" class="form-control bg-transparent p-3"  name="emri" id="emri" placeholder="Your Name">
                    </div>

                    <div class="col-12">
                        <input type="text" class="form-control bg-transparent p-3" name="email" id="email" placeholder="Emaili">
                    </div>
                    <div class="col-12">
                        <textarea class="w-100 form-control bg-transparent p-3" rows="6" cols="10" name="teksti" id="teksti" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-12 text-center">
                        <br>
                        <button class="btn btn-primary border-0 py-3 px-5" type="submit">Dergo Mesazhin</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
        <!-- Contact Start -->


        <!-- Footer Start -->
        <div class="container-fluid footer pt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row py-5">
                    <div class="col-lg-7">
                        <!-- <h1 class="text-light mb-0">Subscribe our newsletter</h1> -->
                        <!-- <p class="text-secondary">Get the latest news and other tips</p> -->
                    </div>
                    <div class="col-lg-5">
                        <div class="position-relative mx-auto">
                            <!-- <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email"> -->
                            <!-- <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">Subcribe</button> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="border-top border-secondary"></div>
                    </div>
                </div>
                <div class="row g-4 footer-inner">
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Xhamia <span class="text-primary">Qendore</span></h4>
                            <p class="mb-4 text-secondary">Kurdo qe koha vie per namaz , falu , per kete eshte xhamia (per ju) - <strong> Abu Kamil </strong> </p>
                            <!-- <a href="" class="btn btn-primary py-2 px-4">Donate Now</a> -->
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Xhamia</h4>
                            <div class="d-flex flex-column">
                                <h6 class="text-secondary mb-0">Adresa</h6>
                                <div class="d-flex align-items-center border-bottom py-4">
                                    <span class="flex-shrink-0 btn-square bg-primary me-3 p-4"><i class="fa fa-map-marker-alt text-dark"></i></span>
                                    <a href="https://www.google.com/maps/place/%E2%80%9CCentral+Mosque%E2%80%9D+Fush%C3%AB+Kosov%C3%AB/@42.6371551,21.0880824,17z/data=!3m1!4b1!4m6!3m5!1s0x135362012a955555:0x560ab6f40223c8c2!8m2!3d42.6371512!4d21.0906573!16s%2Fg%2F11sscsgjzg?entry=ttu" class="text-body">Fushe Kosove , Poshte rrethit </a>
                                </div>
                                <!-- <h6 class="text-secondary mt-4 mb-0">Our Mobile</h6>
                                <div class="d-flex align-items-center py-4">
                                    <span class="flex-shrink-0 btn-square bg-primary me-3 p-4"><i class="fa fa-phone-alt text-dark"></i></span>
                                    <a href="" class="text-body">+012 345 67890</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Eksploro Faqen </h4>
                            <div class="d-flex flex-column align-items-start">
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Faqja</a>
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Rreth Nesh</a>
                                <!-- <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Our Features</a> -->
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Kontakti</a>
                                <!-- <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Our Blog</a> -->
                                <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Eventet</a>
                                <!-- <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Donations</a> -->
                                <!-- <a class="text-body mb-2" href=""><i class="fa fa-check text-primary me-2"></i>Sermons</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-3">
                        <div class="footer-item mt-5">
                            <h4 class="text-light mb-4">Postimet e fundit</h4>
                            <div class="d-flex border-bottom border-secondary py-4">
                                <img src="{% static 'assets/img/blog-mini-1.jpg' %}" class="img-fluid flex-shrink-0" alt="">
                                <div class="ps-3">
                                    <p class="mb-0 text-muted">7 prill 2024</p>
                                    <a href="" class="text-body">Dita e pare e Fiter Bajramit ....</a>
                                </div>
                            </div>
                            <div class="d-flex py-4">
                                <img src="{% static 'assets/img/blog-mini-2.jpg' %}" class="img-fluid flex-shrink-0" alt="">
                                <div class="ps-3">
                                    <p class="mb-0 text-muted">5 Prill 2024</p>
                                    <a href="" class="text-body">Sadakatul-fitri është bërë obligim ....</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-4">
                <div class="border-top border-secondary pb-4"></div>
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Xhamia Qendore</a>, Te gjitha te drejtat te rezervuara.
                    </div>
                    <div class="col-md-6 text-center text-dark  text-md-end">
                        <!--/*** This template is free as long as you keep the below author’s credit link/attribution link/backlink. ***/-->
                        <!--/*** If you'd like to use the template without the below author’s credit link/attribution link/backlink, ***/-->
                        <!--/*** you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". ***/-->
                        <!-- Designed By <a class="border-bottom  text-dark"  href="https://htmlcodex.com">HTML Codex</a> -->
                        Designed By <a class="  text-dark"  href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-light back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
        <!-- JavaScript Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'assets/lib/wow/wow.min.js' %}"></script>
        <script src="{% static 'assets/lib/easing/easing.min.js' %}"></script>
        <script src="{% static 'assets/lib/waypoints/waypoints.min.js' %}"></script>
        <script src="{% static 'assets/lib/owlcarousel/owl.carousel.min.js' %}"></script>

        <!-- Template Javascript -->
        <script src="{% static 'assets/js/main.js' %}"></script>
    </body>

</html>